<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">


    <bean id="ossClient" class="com.aliyun.oss.OSSClient">
        <constructor-arg name="endpoint" value="oss-cn-beijing.aliyuncs.com"/>
        <constructor-arg name="accessKeyId" value="obTuyP8GflR8U3nO"/>
        <constructor-arg name="secretAccessKey" value="mAI1zcXmIL0sJ912J6qLmcPJvixvtp"/>
    </bean>

</beans>